.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.col-md-4 {
  display: flex;
  align-items: stretch;
}

.card {
  min-height: 350px;
  display: flex;
  flex-direction: column;
}

.card-body {
  flex-grow: 1;
}

